<div class="container-fluid">
    <div class="row">
        <!--数据绑定-->
        <div class="col-md-2">
            <p>
                Search:
                <input ng-model="$ctrl.query" type="text" class="form-control">
            </p>

            <!--第六步，新增选择框，绑定$ctrl.query-->
            <p>
                Sort by:
                <select name="" ng-model='$ctrl.orderProp' class="form-control">
                    <option value="name" id="">Alphabetical</option>
                    <option value="age">Newest</option>
                    <option value="-age">Oldest</option>
                </select>
            </p>
        </div>
        <div class="col-md-10">
            <ul class="phones list-unstyled">
                <li ng-repeat="phone in $ctrl.phones | filter:$ctrl.query | orderBy:$ctrl.orderProp" class="phone-list">
                    <a href="#/phones/{{phones.id}}" class="thumb"><img alt="{{phone.name}}" ng-src="{{phone.imageUrl}}"></a>
                    <a href="#/phones/{{phone.id}}" class="phone-name">{{phone.name}}</a>
                    <p class="phone-text">{{phone.snippet}}</p>
                </li>
            </ul>
        </div>
    </div>
</div>
